{% extends 'layouts/base.html' %}

{% block title %}Редактирование{% endblock title %}

{% block content %}
<div class="main-box containner text-center mt-4">
    <h2>Редактирование</h2>
    <hr>
    <div class="form-box">
        <form id="post_edit_form" method="post" action="/edit/{{ post_id }}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                            <div>{{ field }}</div>
                    </div>
                {% endfor %}
            </div>
            <p style="margin-top: 30px">
                <input type="submit" value="Сохранить" class="btn btn-success form-btn">
            </p>
        </form>
    </div>
    <a href="/">Назад к ленте новостей</a>
    <hr>
</div>
<style>
    .form-group input {
        width: 50%;
        height: 30px;
    }
    .form-group textarea {
        width: 50%;
    }
    .form-btn {
        width: 150px;
    }
</style>
{% endblock content %}