{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="content container">
        <h2>{{ title }}</h2>
        <form action="/account/sign_in" method="post">
            {% csrf_token %}
            <div class="from-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" class="form-control" required>
                <div id="login_mess" class="mess"></div>
            </div>
            <div class="from-group">
                <label for="pass1">Пароль:</label>
                <input type="password" id="pass1" name="pass1" class="form-control" required>
                <div id="pass1_mess" class="mess"></div>
            </div>
            <div class="from-group">
                <br>
                <input type="checkbox" id="stay" name="stay" value="yes">
                <label for="stay"> Оставатся в системе</label>
            </div>
            <p class="text-center pt-4">
                <input type="submit" id="submit" value="Войти" class="btn btn-success my-btn">
                <input type="reset" id="reset" value="Отмена" class="btn btn-danger my-btn">
            </p>
        </form>
    </div>
    <style>
        form {
            width: 400px;
            text-align: left;
            border: 1px solid silver;
            border-radius: 10px;
            padding: 25px 35px 25px 35px;
            margin: 15px auto;
        }
        .content {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .my-btn {
        width: 120px;
        border-radius: 10px;
        }
    </style>
{% endblock content %}